// @media (prefers-color-scheme: dark) {
//   .scheme { 
//       background: #000; 
//       color:  #ddd; 
//       h2, i {color: #ddd;}
//       h3, p, .card__price { color: #000;}
//     }

//   .scheme-card {background: #ddd; color:  #000; }
// }