@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.hero, .restaurants, footer {
  padding: 6% 4%;
}

.location, .hero, .journey, .restaurants, header, .journey .card__step > i, .heart-box, .loader, .loader__element--1, .loader__element--3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #EAEAEA;
  font-size: 62.5%;
  outline: none !important;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

li {
  list-style-type: none;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
}

div,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
}

.icons {
  width: 2rem;
}

.loading {
  overflow: hidden;
  animation: reveal 2s ease-out forwards;
}
.loading::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 40;
  overflow: hidden;
  animation: reveal 2s ease-out forwards;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  z-index: 50;
  animation: reveal 2s ease-out forwards;
}
.loader__element {
  position: absolute;
  background-color: transparent;
}
.loader__element--1 {
  width: 100px;
  height: 100px;
  animation: rotate 2s linear 2;
}
.loader__element--1::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 10px solid #9356DC;
}
.loader__element--1::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 100px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #FF79DA;
}
.loader__element--2 {
  width: 50px;
  height: 50px;
  animation: invert-rotate 2s linear;
}
.loader__element--2::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 10px solid #FF79DA;
}
.loader__element--2::after {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #99E2d0;
}
.loader__element--3 {
  width: 25px;
  height: 25px;
  animation: rotate 2s linear;
}
.loader__element--3::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 10px solid #99E2d0;
}
.loader__element--3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #9356DC;
}

@keyframes reveal {
  0% {
    opacity: 1;
    z-index: 30;
    overflow: hidden;
  }
  99% {
    opacity: 1;
    z-index: 30;
    overflow: hidden;
  }
  100% {
    opacity: 1;
    z-index: -1;
    overflow: visible;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes invert-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.cta {
  border: none;
  padding: 1em 2em;
  margin: 2em;
  border-radius: 40px;
  color: #FFFFFF;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  font-weight: 500;
}
.cta:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(rgba(255, 121, 218, 0.95), rgba(147, 86, 220, 0.95));
}

.heart-box {
  width: 20%;
}
.heart-box label i {
  font-style: normal;
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 400;
  color: #7E7E7E;
  cursor: pointer;
}
.heart-box label i:hover {
  color: transparent;
  font-weight: 900;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-size: cover;
  background-position: top;
  animation: heartfill 2s forwards;
}
@keyframes heartfill {}
.heart-box input {
  display: none;
}
.heart-box input:checked ~ label i {
  color: transparent;
  font-weight: 900;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-size: cover;
}

.check-box label {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0;
  left: 100%;
  background-color: #99E2d0;
  transition: 0.6s ease-in-out;
  z-index: 1;
  cursor: pointer;
}
.check-box label i {
  font-style: normal;
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-size: 1em;
  font-weight: 900;
  color: #99E2d0;
  background-color: #fff;
  width: 20px;
  height: 20px;
  padding: 3%;
  border-radius: 50%;
  top: 40%;
  left: 100%;
  transition: 0.6s ease-in-out;
  z-index: 2;
}

.card li {
  padding: 2em;
  margin-bottom: 1.5em;
  background-color: #F6F6F6;
  border-radius: 25px;
  position: relative;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.journey .card__step {
  width: clamp(200px, 80vw, 350px);
}
.journey .card__step::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 100%;
  z-index: 1;
}
.journey .card__step::after {
  font-size: 1.4rem;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  z-index: 2;
}
.journey .card__step:nth-of-type(1)::after {
  content: "1";
}
.journey .card__step:nth-of-type(2)::after {
  content: "2";
}
.journey .card__step:nth-of-type(3)::after {
  content: "3";
}
.journey .card__step > i {
  width: 20px;
  height: 20px;
  margin: 0 min(6vw, 2em) 0 2vw;
  font-size: 2rem;
  font-weight: 900;
  color: #7E7E7E;
}
.journey .card__step > h3 {
  position: relative;
}
.journey .card__step > h3::before {
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  color: #7E7E7E;
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translate(-50%, -50%);
}
.journey .card__step:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
@media screen and (min-width: 768px) {
  .journey .card {
    width: 100vw;
    justify-content: space-around;
  }
  .journey .card__step {
    flex-direction: column-reverse;
    width: 30%;
    max-width: 350px;
    height: 20vh;
    margin-top: 40px;
  }
  .journey .card__step::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
  }
  .journey .card__step::after {
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .journey .card__step > i {
    width: 40px;
    height: 40px;
    font-size: 4rem;
    margin: 20px 0 0;
  }
  .journey .card__step > h3::before {
    font-size: 4rem;
  }
}

.restaurants .card {
  width: clamp(250px, 90vw, 400px);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.002);
}
.restaurants .card__picture {
  display: block;
  position: relative;
  height: 60%;
  overflow: hidden;
  position: relative;
}
.restaurants .card__picture > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}
.restaurants .card__picture.active::before {
  content: "Nouveau";
  padding: 0.5em 1em;
  position: absolute;
  font-weight: 700;
  top: 15px;
  right: 15px;
  background-color: #99E2d0;
  border-radius: 2px;
  color: #278870;
}
.restaurants .card__content {
  padding: 1.2em 1em 1em 1em;
  background-color: #FFFFFF;
  height: 40%;
  display: flex;
  flex-direction: row;
}
.restaurants .card__content .text-box {
  width: 80%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurants .card {
    margin: 20px;
  }
}

.menu .card__menu {
  opacity: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  min-width: 350px;
  overflow: hidden;
  height: 100px;
  cursor: pointer;
  animation: appear 500ms linear;
  animation-fill-mode: forwards;
  animation-delay: 2000ms;
}
.menu .card__menu:nth-child(1) {
  animation-delay: 100ms;
}
.menu .card__menu:nth-child(2) {
  animation-delay: 200ms;
}
.menu .card__menu:nth-child(3) {
  animation-delay: 300ms;
}
.menu .card__menu:nth-child(4) {
  animation-delay: 400ms;
}
.menu .card__menu:nth-child(5) {
  animation-delay: 500ms;
}
.menu .card__menu:nth-child(6) {
  animation-delay: 600ms;
}
.menu .card__menu:nth-child(7) {
  animation-delay: 700ms;
}
.menu .card__menu:nth-child(8) {
  animation-delay: 800ms;
}
.menu .card__menu:nth-child(9) {
  animation-delay: 900ms;
}
.menu .card__menu:nth-child(10) {
  animation-delay: 1000ms;
}
@keyframes appear {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.menu .card__menu .card-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.menu .card__menu .card-container .card__text {
  width: 90%;
  margin: 2em;
  text-overflow: ellipsis;
}
.menu .card__menu .card-container .card__text h3 {
  margin-bottom: 5px;
}
.menu .card__menu .card-container .card__price {
  width: 10%;
  margin: 2em;
  align-self: flex-end;
  font-weight: 800;
  transition: 0.6s ease-in-out;
}
.menu .card__menu .card-container:hover .card__price {
  transform: translateX(-350%);
}
.menu .card__menu .card-container:hover .check-box > label {
  transform: translateX(-100%);
}
.menu .card__menu .card-container:hover .check-box > label i {
  transform: translateX(-300%) rotate(360deg);
  transform-origin: center center;
}
.menu .card__menu input {
  display: none;
}
.menu .card__menu input:checked ~ .card-container .card__price {
  transform: translateX(-300%);
}
.menu .card__menu input:checked ~ .card-container .check-box > label {
  transform: translateX(-100%);
}
.menu .card__menu input:checked ~ .card-container .check-box > label i {
  transform: translateX(-300%) rotate(360deg);
  transform-origin: center center;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

nav {
  display: block;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.logo {
  font-family: "Shrikhand", cursive;
  font-size: 3.4rem;
  margin-top: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #353535;
}
footer .logo {
  font-size: 2rem;
  margin: 0 0 10px 0;
  color: #FFFFFF;
}
footer a {
  color: #FFFFFF;
}
footer ul {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer ul i, footer ul img {
  margin-right: 10px;
}

main {
  margin-top: 70px;
}

.location {
  padding: 2% 3% 4% 3%;
  background-color: #EAEAEA;
  font-weight: 400;
}
.location > p {
  position: relative;
}
.location > p::before {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  color: #000000;
  position: absolute;
  top: 50%;
  left: -25%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .location {
    position: absolute;
    padding: 1%;
    width: 20%;
    background-color: #99E2d0;
    color: #000;
  }
  .location > p::before {
    color: #000;
  }
}

.hero {
  background-color: #F6F6F6;
  flex-direction: column;
  text-align: center;
}
.hero h1 {
  padding: 0 15%;
}
.hero p {
  font-size: 1.8rem;
  padding: 0 5%;
}
@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.5)), url(../../../images/restaurants/medium/jay-wennington-medium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10%;
  }
  .hero h1,
.hero p {
    color: #fff;
  }
}

.journey {
  padding: 6% 0;
  background-color: #FFFFFF;
  flex-direction: column;
}
.journey h2 {
  padding-left: 4%;
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .journey {
    padding: 2%;
  }
  .journey .card {
    display: flex;
    flex-direction: row;
  }
}

.restaurants {
  flex-direction: column;
  background-color: #F6F6F6;
}
.restaurants h2 {
  align-self: flex-start;
}
.restaurants > li {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .restaurants > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .card__picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.menu .wrapper {
  width: 100%;
  position: relative;
  top: -40px;
  background-color: #EAEAEA;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
}
.menu .wrapper .menu__header {
  padding: 2% 4%;
  width: 100%;
  display: flex;
}
.menu .wrapper .menu__header h1 {
  font-family: shrikhand, cursive;
  width: 80%;
}
.menu .wrapper .menu-bloc {
  padding: 2% 4%;
}
.menu .wrapper .menu-bloc h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  position: relative;
  margin-bottom: 25px;
}
.menu .wrapper .menu-bloc h2::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  bottom: -10px;
  left: 0;
  border-bottom: 4px solid #99E2d0;
}
.menu .cta--order {
  width: 180px;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .menu {
    background-color: #EAEAEA;
  }
  .menu .card__picture {
    height: 35vh;
  }
  .menu .card__picture img {
    object-fit: cover;
    object-position: top;
    width: 100vw;
  }
  .menu .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu .menu__header {
    width: 100%;
  }
  .menu .menu__header .heart-box {
    display: flex;
    justify-content: end;
  }
  .menu .card__menu {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
