@use "../base/colors" as *;
@use "../base/typography" as *;
@use "../utils/mixins" as *;
@use "../utils/placeholders" as *;


footer {
    @extend %wrapper;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background-footer;

    & .logo {
        font-size: 2rem;
        margin: 0 0 10px 0;
        color: $font-light;
    }

    & a {
        color: $font-light;
    }

    & ul {
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & i, & img {
            margin-right: 10px;
        }
    }
}
