@use "../base/colors" as *;
@use "../base/typography" as *;
@use "../utils/mixins" as *;
@use "../utils/placeholders" as *;


footer {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .logo {
        margin: 0 0 10px 0;
    }

    & ul {
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & i, & img {
            margin-right: 10px;
        }
     
    }
    

}