@use "../base/colors" as *;
@use "../base/typography" as *;
@use "../utils/mixins" as *;
@use "../utils/placeholders" as *;



header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: $background-light;
    @extend %flex-center;
    @include shadow(#000000);
    z-index: 10;
}

nav {
    display: block;
    font-size: 2rem;
    position: absolute;
    top:50%;
    left:30px;
    transform: translateY(-50%); 
}

.logo {
    font-family:$font-secondary ;
    font-size: 3.4rem ;
    margin-top: 15px;
}