@use "../utils/mixins"as *;
@use "../base/colors"as *;


@keyframes reveal-container {
    0% {
        overflow: hidden;
    }

    99% {
        overflow: hidden;
    }

    100% {
        overflow: visible;
    }
}

@keyframes reveal-element {
    99% {
        z-index: 40;
    }

    100% {
        z-index: -1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes invert-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes heartfill {
    0% {
        background-position: left 0 top 20px;
    }

    100% {
        background-position: left 0 top 0;
    }
}

@keyframes step-action-icon {

    to {
        color: $color-primary;
    }
}

@keyframes rotate-icon {
    0% {
        transform: rotate(0);
        transform-origin: center center;
    }

    100% {
        transform: rotate(1turn);
        transform-origin: center center;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*=====  A décommenter pour mise en place de la préférence - réduction d'animations ======*/

// @media (prefers-reduced-motion: reduce) {
//     * {
//     animation: none!important;
//     transition: none!important;
//     }

//     .loading {
//         overflow: auto!important; 
//     }

//     .loader, .loader__element {
//         display: none;
//     }
//  }