@use "../base/colors"as *;


@mixin absolute-center ($top, $left, $translateX, $translateY) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($translateX, $translateY);
}

@mixin loader-border ($color) {
    border-top: 5px solid $color;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

@mixin shadow ($color, $opacity) {
    box-shadow: 2px 4px 10px rgba($color, $opacity);
}

@mixin background-opacity-light($backgroundColor) {
    background-color: rgba($backgroundColor, 0.2);
}

@mixin color-opacity-dark($color) {
    color: darken($color, 40%);
}


/*=====  responsive ======*/

$tablet: 768px;
$desktop: 1200px;

@mixin media-min ($device) {

    @if $device == $tablet {
        @media screen and (min-width: $device) {
            & {
                @content;
            }
        }
    }

    @else if $device == $desktop {
        @media screen and (min-width: $device) {
            & {
                @content;
            }
        }
    }
}