@use "../base/colors"as *;

@mixin shadow ($color, $opacity) {
    box-shadow: 2px 4px 10px rgba($color, $opacity);
}

@mixin absolute-center ($top, $left, $translateX, $translateY) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($translateX, $translateY);
}

@mixin background-opacity-light($backgroundColor) {
background-color: rgba($backgroundColor,0.2);
}

@mixin color-opacity-dark($color) {
    color: darken($color, 40%);
    }


// RESPONSIVE

$mediaTablet: 375px;
$mediaDesktop: 375px;

@mixin media-min ($_min-width) {
    @media screen and (min-width: $_min-width) {
        & {
            @content;
        }
    }
}