@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../utils/mixins"as *;
@use "../utils/placeholders"as *;
@use "../utils/animations"as *;

.card {

    & li {
        margin-bottom: 1.5em;
        border-radius: 15px;
        @extend %card-hover;
    }

    /*=============================================
    =               card journey                  =
    =============================================*/

    &-journey {
        width: clamp(250px, 85vw, 350px);
        padding: 1.8em 2em;
        margin: 10px 10px 20px;
        background-color: $background-medium;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &::before {
            font-size: 1.4rem;
            font-weight: 900;
            @include absolute-center(50%, 0, -50%, -50%);
            color: $font-light;
            z-index: 2;
        }

        &::after {
            content: "";
            @include absolute-center(50%, 0, -50%, -50%);
            width: 25px;
            height: 25px;
            background-color: $color-primary;
            border-radius: 50%;
            z-index: 1;
        }

        &:nth-of-type(1)::before {
            content: "1";
        }

        &:nth-of-type(2)::before {
            content: "2";
        }

        &:nth-of-type(3)::before {
            content: "3";
        }

        & > i {
            width: 20px;
            height: 20px;
            margin: 0 min(6vw, 2em) 0 2vw;
            font-size: 2rem;
            font-weight: 900;
            color: $icon-default;
            @extend %flex-center;
            transition: 0.5s linear;
        }

        & > h3 {
            position: relative;
            font-weight: $font-medium;

            &::before {
                font-family: "Font Awesome 5 Free";
                font-size: 2rem;
                font-weight: 900;
                color: $icon-default;
                @include absolute-center(50%, -40px, -50%, -50%);
            }
        }

        /*=====  states  ======*/

        &:hover {
            @include background-opacity-light($color-primary)
        }

        &:hover i {
            color: $color-primary;
        }

        &:nth-child(1) {
            animation-delay: 2000ms;
        }

        &:nth-child(2) {
            animation-delay: 2500ms;
        }

        &:nth-child(3) {
            animation-delay: 3000ms;
        }

        &:nth-child(1) > i {
            animation-delay: 2000ms;
        }

        &:nth-child(2) > i {
            animation-delay: 2500ms;
        }

        &:nth-child(3) > i {
            animation-delay: 3000ms;
        }

        /*=====  responsive  ======*/

        @include media-min ($tablet) {
            flex-direction: column-reverse;
            width: 30%;
            max-width: 350px;
            margin: 30px 10px 20px;
            text-align: center;

            &::before {
                @include absolute-center(0, 50%, -50%, -50%);
            }

            &::after {
                content: "";
                @include absolute-center(0, 50%, -50%, -50%);
                width: 50px;
                height: 50px;
            }

            & > i {
                width: 40px;
                height: 40px;
                font-size: 4rem;
                margin: 20px 0 0;
            }

            & > h3 {
                margin: 10px 0;
            }
        }
    }

    /*=============================================
    =               card restaurant               =
    =============================================*/

    &-restaurant {
        width: clamp(250px, 90vw, 400px);
        overflow: hidden;

        &__picture {
            display: block;
            overflow: hidden;
            position: relative;

            & > img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 16/9;
            }

            &.active::before {
                content: "Nouveau";
                padding: 0.5em 1em;
                position: absolute;
                font-weight: $font-bold;
                top: 15px;
                right: 15px;
                background-color: $color-tertiary;
                border-radius: 2px;
                @include color-opacity-dark($color-tertiary);
            }
        }

        &__content {
            padding: 1.2em 1em 1em 1em;
            background-color: $background-light;
            display: flex;

            & .text-box {
                width: 100%;
                display: flex;
                flex-direction: column;

                & h3 {
                    font-size: 1.8rem;
                    margin-bottom: 5px;
                }
            }
        }

        /*=====  responsive  ======*/

        @include media-min ($tablet) {
            margin: 20px;
        }
    }

    /*=============================================
    =                  card menu                  =
    =============================================*/

    &-menu {
        max-width: 350px;
        width: 100%;
        min-height: 70px;
        padding: 0 1em;
        background-color: $background-light;
        display: flex;
        justify-content: space-between;

        $anim-speed: 500ms;
        animation: appear $anim-speed linear;
        animation-fill-mode: forwards;
        animation-delay: 2000ms;
        overflow: hidden;

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                animation-delay: $i * 100ms;
            }
        }

        & article {
            max-width: 350px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__text {
            min-width: 60%;

            & h3 {
                font-weight: $font-medium;
                margin-bottom: 5px;
                max-width: 225px;
            }

            & p {
                font-size: 1.4rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &__price {
            width: 20%;
            height: 100%;
            font-weight: $font-bold;
            padding-bottom: 10px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            transition: 0.5s linear;
        }

        /*=====  responsive  ======*/
        
        @include media-min ($tablet) {

            .card {
                min-width: 330px;
            }
        }
    }
}