@use "./colors"as *;
@use "../utils/mixins"as *;

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: $background-dark-heavy;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:target:before {
    content: "";
    display: block;
    height: 120px;
    margin-top: -100px;
}

li {
    list-style-type: none;
}

a,
button,
input[type="checkbox"] {
    cursor: pointer;
}

a {
    display: block;
    text-decoration: none;
    color: $font-default;
}

footer a {
    display: inline-block;
}

a:hover,
a:focus {
    color: $color-tertiary;
}

a:hover .handshake{
    filter: invert(30%) sepia(37%) saturate(276%) hue-rotate(112deg) brightness(100%) contrast(91%);
}

a:active {
    @include color-opacity-dark($color-tertiary);
}

input {
    -webkit-appearance: none;
}

div,
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@supports selector(div:focus-visible) {
    div:focus:not(:focus-visible) {
        outline: 0;
    }

    div:focus-visible {
        outline: 6px solid $color-tertiary;
    }
}

@supports selector(input:focus-visible) {
    .card__menu input:focus-visible,
    .heart-box input:focus-visible {
        outline: none;
        border: 6px solid $color-tertiary;
    }

    .card__menu input:focus-visible {
        border-radius: 15px;
    }
}

@supports selector(a:focus-visible) {
    .card-restaurant a:focus-visible {
        border: 4px solid $color-tertiary;
        border-radius: 15px 15px 0 0;
        overflow: hidden;
    } 
    .cta:focus-visible {
        outline: none;
        border: 4px solid $color-tertiary;
        border-radius: 40px;
    }
}
