@use "./colors"as *;

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: $background-dark;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:target:before {
    content: "";
    display: block;
    height: 120px;
    margin: -100px 0 0;
}

li {
    list-style-type: none;
}

a,
button {
    cursor: pointer;
}

a {
    display: block;
    text-decoration: none;
    color: $font-default;
}

a:hover,
a:active {
    color: $color-tertiary;
}

div,
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}