
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2d0;

$background-light: #FFFFFF;
$background-medium: #F6F6F6;
$background-dark: #EAEAEA;
$background-footer: #353535;

$icon-default: #7E7E7E;
$icon-default-dark: #000000;

$font-default: #000000;
$font-light: #FFFFFF;
