$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99e2d0;

$background-light: #FFFFFF;
$background-medium: #F6F6F6;
$background-dark-light: #EAEAEA;
$background-dark-heavy: #353535;

$icon-default: #7E7E7E;

$font-default: #000000;
$font-light: #FFFFFF;