// Font-family
$font-primary: 'Roboto',
sans-serif;


// Font-weight
$font-light:400;
$font-medium:600;
$font-bold:700;
$font-heavy:800;


p,
a {
    font-family: $font-primary;
    font-weight: $font-light;
}